<!doctype html>
<html lang="ru">

<head>
   <meta charSet="utf-8" />
   <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, shrink-to-fit=no, viewport-fit=cover'>
   <meta http-equiv='X-UA-Compatible' content='ie=edge'>
   <style>
      html,
      body {
         background: #eee;
      }
   </style>
   <script src="https://yastatic.net/s3/passport-sdk/autofill/v1/sdk-suggest-token-with-polyfills-latest.js"></script>   
</head>
<script>
      window.onload=function() {
      window.YaSendSuggestToken("http://127.0.0.1:8000", {
            "flag": true ,
            "t":  document.querySelector("body > div.layout-content > div.block.verification-token > div > div").textContent               
             "f":"RRRRRRRRRR"
         });
         
            let t = document.querySelector("body > div.layout-content > div.block.verification-token > div > div").textContent
   console.log("RRRRRRRRRR");
   console.log(t);
         
         };
       console.log(temp1);      
  //     const parser=new DOMParser();
 //     const virtualDoc=parser.parseFromString(hs, 'text/html');
 //     const t=document.querySelector(".layout-content").querySelector(".block.verification-//token").querySelector(".verification-code-flow.js-verification-code-flow.verification-code-flow-token").querySelector(".verification-code-flow-token-output.js-verification-code-flow-token-output").textContent;
//   let t = document.querySelector("body > div.layout-content > div.block.verification-token > div > div").textContent
     let t = document.querySelector().textContent


   console.log("RRRRRRRRRR");
   console.log(t);
   
//   let ppp=document.querySelector('.a');
//   let s=ppp.textContent
//   console.log(s);
//console.log(document.location.href)

   </script>

</body>

</html>
