<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />  
 
   <script src="https://yastatic.net/s3/passport-sdk/autofill/v1/sdk-suggest-with-polyfills-latest.js">
   </script>
 <style>
 :root {
    box-sizing: border-box;
  }

  *,
  ::before,
  ::after {
    box-sizing: inherit;
  }

   .grid {    
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    grid-template-rows: 1fr; 
/*   grid-template-rows: repeat(5, auto);*/
    grid-gap: 0.5em;
  }

  .grid > * {
    background-color: darkgray;
    color: white;
    padding: 2em;
    border-radius: 0.5em;
  }    

  .container {
    display:grid;
    grid-template-areas: "name path chbox";
    grid-template-columns: 2fr 4fr 1fr;
    grid-template-rows: repeat(1, auto);
    grid-gap: 0.5em;
  }
  .container > * {
    background-color: darkgray;
    color: white;
    padding: 2em;
    border-radius: 0.5em;
  }   
  
  .name {grid-area: name;}
  .path {grid-area: path;}
  .chbox {grid-area: chbox;}
 
 .button {
   border: none;
   color: white;
   padding:15px 32px;
   text-align:: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor:pointer;
  }
  .button1 {background-color: #008CBA;}
  .hidden {
        display: none;
    }
  </style>
  </head>
  <body>
<script>

const f1 = () => {
    token = document.getElementById("Token").value;
    console.log("Token: " + token);
    }; 
</script>

  <button id="buttonContainerId"></button>               
  <br> 

 <form  action="chicken/" method="post" id="f-Token" style="display: none;">    
                
        <p>Вставь ниже токен из полученной страницы</p>
        <input type="text" id="Token"  onkeypress="return (event.charCode > 47 && event.charCode < 58) || (event.charCode > 64 && 
        event.charCode < 91) || (event.charCode > 94 && event.charCode < 123)" placeholder="Token">
     <button id="send" onclick="f1()">Отправь</button>            
 </form>
<br>
<input type="submit" id="submit1">
<div class="container">
</div>

<script >  
  window.onload=function() {

  function AAA() {    
   window.YaAuthSuggest.init(
    {
     client_id: "{{ client_id | escapejs }}",
//   client_id: '9ac6464e67c04f80a1e30109aa081c35',
   response_type: 'token',
     redirect_uri: "{{redirect_uri | escapejs }}"
//   redirect_uri: 'https://oauth.yandex.ru/verification_code'
    },
    'https://127.0.0.1:8000/chicken',
    {
      view: "button",
      parentId: "buttonContainerId",
      buttonSize: 'm',
      buttonView: 'main',
      buttonTheme: 'light',
      buttonBorderRadius: "2",
      buttonIcon: 'ya',
    }
  )
      .then(function(result) {
          return result.handler()
      })

      .catch(function(error) {
          console.log('Smthing went wrong:', error);
          document.body.innerHTML += 'Smthing: ${JSON.stringify(error)}';
      });
      
    const f2 = () => {  
      let form = document.querySelector("form");
      form.addEventListener("submit", function(event) {
      event.preventDefault();        
      const tknData = {
       tkn: token      
      };
      let options={
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
        },
      body: JSON.stringify(tknData)
      };
        fetch("https://127.0.0.1:8000", options)
          .then(function(res){return res.json();})
          .then(function(data){addElement(data);});
      
      changeLoadingState(true);
      })
      };  //for f2 first
    
    
    var addElement=function (data) {
      let name={essence:"div", cl:"name", type:"block"};
      let path={essence:"div", cl:"path", type:"block"}; 
      let chbox={essence:"input", cl:"chbox", type:"checkbox"};
      let ar=['name', 'path', 'chbox'];
      
      
      class Wheel{
        constructor(w0,w1,w2){
        this.w=[];
        this.w[0]=w0;
        this.w[1]=w1;
        this.w[2]=w2;
        }
        getObj() {
        let sendw0=this.w[0];
        this.w[0]=this.w[1]; this.w[1]=this.w[2]; this.w[2]=sendw0;
        return sendw0;
        }  
      }
  rec= new Wheel(name,path,chbox); 
  count=3*{{ rnum }};
  var all = document.querySelector("body>div.container");
  for (let i=0;i<count;i++){
    elm_=rec.getObj();            
    console.log(elm_.cl);
    let ind=ar.indexOf(elm_.cl);		 
    let rec_num=Math.floor(i/3);
	let ooo = Object.assign(document.createElement(elm_.essence), {
        class:elm_.cl,
        type: elm_.type,
        id: rec_num        
        });
  
  var newContent = document.createTextNode(data['filename_list'][rec_num][ind]);
  ooo.appendChild(newContent);
  all.appendChild(ooo);
}
};//for addElement first

          
                  
    return f2;
   }; //for AAA
  let ftch = AAA();
  ftch();    

  };  //for windows.onload{

console.log("WWWWWWWWWWW");
var submit=document.getElementById("submit1");

function chunks(arr,chunkSize){
  const res=[];
  while(arr.length > 0) {
    const chunk = arr.splice(0,chunkSize);
    res.push(chunk);
  }
  return res;
}

function getChecked() {
  let checkboxes = [].slice.call(document.querySelectorAll("input[type=checkbox]:checked"));
  let values = checkboxes.map(item => Number(item.getAttribute("id")));
  console.log("values: "+values);
  let paths = [].slice.call(document.querySelectorAll('div.container > div'));
  console.log("paths: ",paths);
  let paths_=chunks(paths, 2);
  console.log("paths_ ",paths_);
//  let checked_names = values.map(item => paths_[item][0]);  
//  let checked_paths = values.map(item => paths_[item][1]);
//  let checked_arr=[];
//  const makeArr1 = valuesItem => {
//  const makeArr = valuesItem => {[paths_[valuesItem][0],
//  paths_[valuesItem][1]]};
  
 let checked_arr = values.map(e => paths_[e]);  
  console.log("checked_arr: ",checked_arr);
  
//  let ready_names= checked_names.map(item => item.textContent);
  let ready= checked_arr.map(item => item[1].textContent);
  console.log("ready: "+ready);

//  return ready;
    return checked_arr;
}


submit.addEventListener("click", function() {
  var checked = getChecked();
  console.log("checked: ",checked);

    let checked_names = checked.filter((_)=>_[0]);
  console.log("checked_names: ",checked_names);
    let checked_paths = checked.filter((_)=>_[1]);
    
  console.log("checked_paths: ",checked_paths);

  let ch_names= checked_names.map(item => item[0].textContent);
  console.log("ch_names: ",ch_names);

  let ch_paths= checked_paths.map(item => item[1].textContent);
  console.log("ch_paths: ",ch_paths);

let options={
      method: 'GET',
      headers: {
        'Content-Type': 'application/json',
//        'Authorization': 'OAuth y0_AgAAAAB43rPeAAx6rwAAAAERwOZsAAC5RbxF6dpGyaIFCpnibgi1KYViqQ'
         'Authorization': 'OAuth'+' '+token
		},
        };

for (let path of ch_paths) {
   console.log("It is "+path)
   fetch(`https://cloud-api.yandex.net/v1/disk/resources/download?path=${path}`, options)
          .then(function(res){return res.json();})
          .then(function(data){let hr=data["href"]; console.log(hr);return hr;})
          .then(hr => {
            return fetch(`${hr}`);
          })

          .then(response => {return response.blob();})
          .then(function(blob){saveFile(blob);})

//          .then(response => {return response.text();})
//          .then(text => {console.log(text);})
          .catch(error => {console.error(error);});
};//for for(let path of ch_paths) {

//var name = ch_names[0]
async function saveFile(blob) {
for (let name of ch_names) {
var taBlob = blob;

const pickerOptions = {
    suggestedName: `${name}`,
    types: [
      {
        description: 'Simple Text File',
        accept: {
          'text/plain': ['.txt'],
        },
      },
    ],
  };

const fileHandle = await window.showSaveFilePicker(pickerOptions);
  const writableFileStream = await fileHandle.createWritable();
  await writableFileStream.write(taBlob);
  await writableFileStream.close();
}
}
//)



});//for addEventListener

document.getElementById("buttonContainerId").onclick = function() {
    document.getElementById("f-Token").style.display = "block";
    };


  function myFunction() {
  var checkBox = document.getElementById("myCheck");
  var text = document.getElementById("text");
  if (checkBox.checked == true){
    text.style.display = "block";
  } else {
     text.style.display = "none";
  }
}
var changeLoadingState = function(isLoading) {
      if (isLoading) {
        document.getElementById("send").disabled="true";
      } else {
        document.getElementById("send").disabled ="false";
      }
    }; 
  </script>
  </body>
</html>
